.dil-main {
    position:fixed;
    background: white;
    width: auto;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.dil {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: block;
}

.dil td {
    text-align: left;
    margin: auto;
}

.dil .avatar-upload {
    position: relative;
    overflow: hidden;
}

.dil .avatar-upload input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}
